version: "3.9"
services:
  deviceapp:
    build: .
    ports:
      - 8080:8080
      - 8081:8081

  prometheus:
    image: prom/prometheus:v3.8.1
    ports:
      - 9090:9090
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
